/* Header */
/**/
.header {
	width: 100%;
	height: 50px;
    background-color: #fff;
    background-size: cover;
   

}

.header__inner{
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

/*Logo*/

.logos {
	font-size: 30px;
	font-weight: 700;
	font-family: Courier New;
	color: #000;
    text-align: center;
    margin-left: 530px;

}

/* Navigation */

.nav {
    font-size: 14px;
    text-transform: uppercase;
}

.nav__link {
	font-family: Courier New;
	display: inline-block;
	vertical-align: top;
	margin: 10px;
	color: #000;
	text-decoration: none;
	position: relative;
    
    transition: color .2s linear;
}

.nav__link:after {
content: "";
display: block;
width: 100%;
height: 3px;

background-color: #fff;

position: absolute;
top: 100%;
left: 0;
z-index: 1;
}

.nav__link:hover {
	color: #fce38a;
}

.nav__link:hover:after {
	display: block;
}

/* Intro */

.intro {
	width: 100%;
	height: 110vh;
	background: #000;
	stroke: 15px #fce38a;
}

.intro_title {
	text-align: center;
    font-size: 70px ;
    font-family: Courier New;
    color:#fff;
    top: 100%;
    left: 0;


}
/* Section */
.section_suptitle{
	font-family: Courier New;
	font-size: 24px;
	color: #333;
	text-align: center;

}

.section_title {
	font-size: 30px;
	font-weight: 700;
	color: #333;
	text-transform: uppercase;
	text-align: center;
	font-family: Courier New;

}
.section_title:after {
	content:"";
	display: block;
	width: 60px;
	height: 3px;
	margin: 30px auto;
	background-color: #f38181;
    margin: 30px auto ;
}
 .section_text{
 	font-style: 15px;
 	color: #999;
 	text-align: center;
 }
 .section {
 	padding: 80px 0;

 }
 .section_header{
 	width: 100%;
 	max-width: 950px;
 	margin: 0 auto 40px;
 }

 /* About */
 .about1 {
 	display: flex;
 	justify-content: space-between;
 }

 .about_item1{
 	width: 380px;


 }

 .about_item1:hover .about_img{

 	transform: translate3d(-10px, -10px, 0);


 }

 .about_item:hover .about_img img{
 	opacity: .1
 }
 .about_img{
 	background: linear-gradient(to bottom,#f38181,#fce38a);
 	transition: transform;

 }

.about_item1:hover .about_img img{
	opacity: .7;
}


.about_img img{
	transition: opacity .1s linear;
}


.portfolio{
 margin: 4em 0;
    position: relative; 
}
.portfolio h1{
 color:#000;
 margin: 2em;
 font-family: Courier New; 
}
.portfolio img{
  height: 15rem;
  width: 100%;
  margin: 1em;
 }



#footersite{
	padding-bottom: 20px;
	padding-top: 20px;
	background-color: #000;
	color: #fff;
	text-align: center;
}

.widget-social li{
	list-style: none;
	display: inline-block;
	margin-right: 20px;
	text-align: center;


}
.widget-social li a:hover{
color: #fff;

}
